DATABASE_URL=postgresql+psycopg2://user:password@host:5432/agrivision
SECRET_KEY=WbTAnD3Y84hNPwxiruZ2sVXF7EtyJU0jaQGkLomgvqIcMpl5fOCedSR9BHz16K
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast
CORS_ORIGINS=["*"]